@{
    Layout = "~/Views/Shared/_BackstageLayout.cshtml";
}

<!--我的css-->
<link rel="stylesheet" href="~/css/back.css">
<div class="content-inner w-100" id="app">
    <!-- Page Header-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">服務</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <div class="bg-white">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3">
                    <li class="breadcrumb-item"><a class="fw-light" href="index.html">Home</a></li>
                    <li class="breadcrumb-item active fw-light" aria-current="page">服務</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Forms Section-->
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header couponstitle">
                            <div class="card-close">
                                <div class="dropdown">
                                    <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                    <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                </div>
                            </div>
                            <h3 class="h4 mb-0">新增優惠卷</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-sm">新增優惠卷種類供使用者兌換使用</p>
                            <div class="mb-3">
                                <label class="form-label">優惠卷兌換名稱</label>
                                <input class="form-control" id="exampleInputEmail1" type="text" v-model="vouchers.voucherName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputPassword1">優惠卷廣告描述</label>
                                <input class="form-control" id="exampleInputPassword1" type="tel" v-model="vouchers.voucherDescribe">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputPassword1">折價描述</label>
                                <input class="form-control" id="exampleInputPassword1" type="tel" v-model="vouchers.discountDescribe">
                                <div class="form-text">如:滿399折50等.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputPassword1">折扣金額</label>
                                <input class="form-control" id="exampleInputPassword1" type="number" min="0" v-model="vouchers.vouchersDiscount">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputPassword1">折扣金額條件</label>
                                <input class="form-control" id="exampleInputPassword1" type="number" min="0" v-model="vouchers.vouchersAvlAmount">
                                <div class="form-text">可設定多少金額即可達到折扣條件.</div>
                            </div>
                            <button class="btn btn-primary" type="button" v-on:click="AddVoucher()">建立</button>
                        </div>
                    </div>
                </div>
                <!-- Horizontal Form-->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header linebot">
                            <div class="card-close">
                                <div class="dropdown">
                                    <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                    <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                                </div>
                            </div>
                            <h3 class="h4 mb-0">LINE BOT</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-sm">發送LINE訊息給使用者</p>
                            <div>
                                @*<div class="row gy-2 mb-4">
                                    <label class="col-sm-3 form-label" for="inputHorizontalElOne">Email</label>
                                    <div class="col-sm-9">
                                    <input class="form-control" id="inputHorizontalElOne" type="email" placeholder="Email Address"><small class="form-text">傳送給所有使用者</small>
                                    </div>
                                    </div>*@
                                <div class="row gy-2 mb-4">
                                    <label class="col-sm-3 form-label" for="inputHorizontalElTwo">訊息輸入</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control linetext" placeholder="輸入內容" v-model="message.text"></textarea><small class="form-text">發送提醒通知or促銷廣告給使用者</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9 ms-auto">
                                        <input class="btn btn-primary" type="submit" value="發送" v-on:click="pushLineMessage">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>





<script>
    class Vouchers {
        voucherName = '';
        voucherDescribe = '';
        discountDescribe = '';
        vouchersDiscount = 0;
        vouchersAvlAmount = 0;
    }
    class lineMessage {
        text='';
    }
    var app = new Vue({
        el: '#app',
        data: {
            user: "",
            picPath: "",
            vouchers: new Vouchers(),
            message:{text:""},
        },
        mounted: function () {

        },
        methods: {
            AddVoucher: function () {
                let a = new lineMessage();
                a.text = "您好～"+app.vouchers.voucherDescribe+"！請輸入 「"+app.vouchers.voucherName+"」 兌換優惠卷！";
                
                //判斷資料是否有填寫完
                for (let i in app.vouchers) {
                    if (app.vouchers[i] === '' || app.vouchers[i] == 0) {
                        alert("資料請填寫完整");
                        break;
                    }
                    else {
                        //資料若都有填寫送出優惠卷表單
                        $.ajax({
                            type: "POST",
                            url: "/BackstageMange/AddVouchers",
                            data: {
                                VouchersTitle: app.vouchers.voucherName,
                                VouchersDescribe: app.vouchers.voucherDescribe,
                                DiscountDescribe: app.vouchers.discountDescribe,
                                VouchersDiscount: app.vouchers.vouchersDiscount,
                                VouchersAvlAmount: app.vouchers.vouchersAvlAmount,
                            },
                            success: function (response) {

                                axios.post("/api/LineWebHook/Line/LinePushMessage", a ).catch(res=>res.data);

                                Swal.fire(
                                    'Good job!',
                                    '優惠卷新增成功',
                                    'success'
                                ).then((result) => {
                                });
                                
                                connection.invoke("SendMessage", "即時通知：", `優惠卷發放！請輸入：「${app.vouchers.voucherName}」兌換優惠卷！！！`).catch(function (err) {
                                    return console.error(err.toString());
                                });
                            },
                            error: function (response) {
                                alert('發生例外錯誤');
                            }
                        });
                        break;
                    }
                }
            },
            pushLineMessage:function() {
                let self = this;
                axios.post("/api/LineWebHook/Line/LinePushMessage", self.message).then((res) => {
                    console.log(res);

                }).catch((err) => {
                    console.log(err);
                });
            }
        }
    });
</script>

