
@{
    Layout = "_BackstageLayout";
}

<!--我的css-->
<link rel="stylesheet" href="~/css/back.css">
<div class="content-inner w-100 layoutbackgrount" id="app" >
    <!-- Page Header-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">優惠卷管理</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <div class="bg-white">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3">
                    <li class="breadcrumb-item"><a class="fw-light" href="index.html">Home</a></li>
                    <li class="breadcrumb-item active fw-light" aria-current="page">優惠卷管理</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container " id="app">
        <div class="row layoutbackgrount">
            <div class="search1">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search" v-model="search">
                </div>
            </div>
            <table class="table table-striped col-gl-4 dropdown table-hover tablerow rowcolor">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">優惠卷名稱</th>
                        <th scope="col">優惠卷敘述</th>
                        <th scope="col">折扣金額</th>
                        <th scope="col">優惠目標金額</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--分頁設定-->
                    <tr v-for="item in counpons" v-if="search=='' || item.voucherName.includes(search)">
                        <th scope="row">{{item. voucherName}}</th>
                        <td>{{item.voucherDescribe}}</td>
                        <td>{{item.vouchersDiscount}}</td>
                        <td>{{item. vouchersAvlAmount}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" v-bind:value="item.voucherName"
                                    v-on:click="update($event)" data-toggle="modal" data-target="#exampleModal"
                                    data-whatever="">
                                修改
                            </button>
                            <button type="button" class="btn btn-danger" v-bind:value="item.voucherName"
                                    v-on:click="getCounpon($event)" data-toggle="modal" data-target="#deleteModal">
                                刪除
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--分頁-->
            @*<div class="container">
                    <ul class="pagination">
                        <li class="page-item" v-bind:class="{'disabled': (currPage === 1)}"
                            @@click.prevent="setPage(currPage-1)"><a class="page-link" href="#">Previous</a></li>
                        <li v-for="n in totalPage"
                            v-bind:class="{'active': (currPage === (n))}"
                            @@click.prevent="setPage(n)"><a class="page-link" href="#">{{n}}</a></li>
                        <li class="page-item" v-bind:class="{'disabled': (currPage === totalPage)}"
                            @@click.prevent="setPage(currPage+1)"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>*@

            <!--修改使用者的對話盒-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title dialogtitle" id="exampleModalLabel">修改優惠卷資料</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border:0px;">
                                <span style="font-size: 1.5rem; font-weight: 700; opacity: .5;" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--綁定form表單資料-->
                            <form>
                                <div class="form-group">
                                    <label for="user-name"
                                           cproductpricelass="col-form-label">優惠卷名稱:</label>
                                    <input type="text" class="form-control" id="user-name" v-model="counpon.voucherName">
                                </div>
                                <div class="form-group">
                                    <label for="user-birth" class="col-form-label">優惠卷敘述:</label>
                                    <input type="text" class="form-control" id="user-birth" v-model="counpon.voucherDescribe">
                                </div>
                                <div class="form-group">
                                    <label for="user-phone" class="col-form-label">折扣敘述:</label>
                                    <input type="text" class="form-control" id="user-phone" v-model="counpon.vouchersDiscount">
                                </div>
                                <div class="form-group">
                                    <label for="user-money" class="col-form-label">優惠目標金額:</label>
                                    <input type="text" class="form-control" id="user-money" v-model="counpon.vouchersAvlAmount">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                取消
                            </button>
                            <!--觸發事件修改-->
                            <button type="button" class="btn btn-ddd" v-on:click="readyUpdate" style="background-color: #007bff; color: #fff">確認修改</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--刪除使用者的對話盒-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="margin-top:120px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">刪除使用者</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border:0px;">
                                <span style="font-size: 1.5rem; font-weight: 700; line-height: 1; opacity: .5; " aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            確定刪除?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                取消
                            </button>
                            <!--按下按鈕觸發刪除的API-->
                            <button type="button" class="btn btn-danger" v-on:click="deleteCounpon">刪除</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Page Footer-->
    <footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs" id="footer">
        <div class="container-fluid">
            <div class="row gy-2">
                <div class="col-sm-6 text-sm-start">
                    <p class="mb-0">Your company &copy; 2017-2021</p>
                </div>
                <div class="col-sm-6 text-sm-end">
                    <p class="mb-0">Design by <a href="https://bootstrapious.com/p/admin-template" class="text-white text-decoration-none">Bootstrapious</a></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>


<script>
    var app = new Vue({
        el: "#app",
        data: {
            counpons: [],
            counpon: {
                voucherName: '',
                voucherDescribe: '',
                vouchersDiscount: '',
                vouchersAvlAmount:''
            },
            search: '',
            target: null,
        },
        methods: {
            update: function (e) {
                let self = this;
                let voucherName = e.target.value;
                let target = self.counpons.find(i => { return voucherName == i.voucherName });
                self.counpon = target;
            },
            getCounpon: function (e) {
                let self = this;
                self.target = e.target.value;
            },
            readyUpdate: function () {
                let self = this;
                //發送PUT請求到API修改資料
                axios.put("/BackstageMange/UpdateCounpons/", self.counpon)
                    .then((resp) => alert("更新成功"))
                    .catch((res) => console.log(res.response.data));
                window.location.reload();
            },
            deleteCounpon: function () {
                let self = this;
                axios.delete("/BackstageMange/DeleteCounpons/" + self.target)
                    .then((res) => {

                        console.log(res);
                    })
                    .catch((res) => console.log(res.response.data));
                console.log("/BackstageMange/DeleteCounpons/" + self.target);
                window.location.reload();
            },
        },
        mounted: function () {
            let self = this;
            axios.get("/BackstageMange/Counpons")
                .then((resp) => {
                    self.counpons = resp.data;
                    console.log(self.counpons);
                })
                .catch((res) => {
                    console.log("錯誤訊息");
                    console.log(res.response.data);
                });
        }
    });

</script>