@{
    Layout = "_BackstageLayout";
}

<style>
    .sidebar-item-a {
        color: #fff;
        border-left: 4px solid #3b25e6;
        background: #796AEE;
    }

        .sidebar-item-a > .sidebar-link:hover {
            background: #796AEE;
        }

    /* .sidebar-item li > .sidebar-link {
        color: #fff;
        border-left: 4px solid #3b25e6;
        background: #8e81f1;
    }*/

</style>

<!--我的css-->
<link rel="stylesheet" href="~/css/back.css">


@*中間內容變動區*@
<div class="content-inner w-100" id="navBar">
    <!-- Page Header儀錶板-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">儀錶板</h2>
        </div>
    </header>
    <!-- Dashboard Counts Section-->
    <section class="pb-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">
                        <!-- 使用者 -->
                        <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-violet">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#user-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3"><br>使用者</h6>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.userCount}}</strong></div>
                            </div>
                        </div>
                        <!-- 處理中訂單 -->
                        <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-green">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#numbers-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3"><br>商品總數</h6>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.productCount}}</strong></div>
                            </div>
                        </div>
                        <!-- 商品總數-->
                        <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-red">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#survey-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3">處理中<br>訂單</h6>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.processOrder}}</strong></div>
                            </div>
                        </div>
                        <!-- 已處理完訂單 -->
                        <div class="col-xl-3 col-sm-6 py-4">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-orange">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#list-details-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3">
                                        已完成<br>訂單
                                    </h6>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.finishOrder}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Header Section    -->
    <section class="pb-0">
        <div class="container-fluid">
            <div class="row align-items-stretch">
                <!-- Statistics -->
                <div class="col-lg-3 col-12">
                    <div class="card mb-2" style="height:60px;">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img style="margin-left: 10px;margin-top:-15px;" src="/img/payment/火.png" width="30" />
                                <div class="ms-3 hot"><strong class="text-lg d-block lh-1 mb-1 " style="color:red;">熱銷商品</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" v-for="hotproduct in manger.hotProducts">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img :src="hotproduct.goldhref" width="55" />
                                <div class="ms-3"><b class="productcount">{{hotproduct.hotProductName}}</b> <h4>數量: {{hotproduct.hotProductCount}}</h4></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Line Chart            -->
                <div class="col-lg-6 col-12">
                    <div class="card mb-0 h-100">
                        <div class="card-body">
                            <canvas id="lineCahrt"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <!-- Bar Chart   -->
                    <div class="card">
                        <div class="card-body">
                            <div class="ranking">
                                <strong class="h2 mb-0 d-block text-violet " style="display: inline!important">團主排行</strong><img class="trophy" style="display: inline!important" src="/img/payment/皇冠.png" width="30" />
                            </div>
                            <div class="d-flex align-items-center trophys" v-for="seller in manger.sellerRankings">
                                <img :src="seller.medalHref"><img class="avatar shadow-0 img-fluid rounded-circle" :src="seller.picPath" />
                                <div class="ms-3 sales" style="margin-left: 20px !important"><strong class="text-lg d-block lh-1 mb-1">${{seller.price}}</strong><h6>{{seller.sellerName}}</h6></div>
                            </div>
                        </div>
                    </div>
                    <!-- Numbers-->
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/img/payment/錢.png" />
                                <div class="ms-3"><strong class="text-lg mb-0 d-block lh-1">${{manger.totalSales}}</strong><b>平台銷售總額</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    class Manger {
        finishOrder = 0;
        processOrder = 0;
        productCount = 0;
        userCount = 0;
        totalSales = 0;
        hotProduct = 0;
        hotProducts = [];
        sellerRankings = [];
    }
    var layout = new Vue({
        el: '#navBar',
        data: {
            homes: [],
            manger: new Manger(),
            user: "",
            picPath: "",
            medalHref :[
                { medalHref: "/img/payment/獎盃.png" },
                { medalHref: "/img/payment/第二名獎盃2.png" },
                { medalHref: "/img/payment/第三名獎盃.png" },
            ],
            goldhref: [
                { goldhref: "/img/payment/第一名獎牌.png" },
                { goldhref: "/img/payment/第二名獎牌.png" },
                { goldhref: "/img/payment/第三名獎排.png" },
            ]
        },
        mounted: function () {
            let self = this;
            axios.get("/api/LoginAndRegister/")
                .then((resp) => {
                    self.user = resp.data;
                })
                .catch((res) => res.response.data);
            axios.get("/api/MemberCenter/")
                .then((resp) => { self.picPath = resp.data })
                .catch((res) => res.response.data);
            //撈出首頁內容資訊
            axios.get("/BackstageMange/Homeinformation")
                .then((resp) => {
                    /*self.homes = resp.data*/
                    layout.manger = resp.data;
                    for (let i = 0; i < layout.medalHref.length; i++) {
                        this.$set(layout.manger.sellerRankings[i], 'medalHref', layout.medalHref[i].medalHref);
                        this.$set(layout.manger.hotProducts[i], 'goldhref', layout.goldhref[i].goldhref);
                    }
                    console.log(layout.manger);
                })
                .catch((res) => res.response.data);
        },
        methods: {
            logout: function () {
                axios.delete("/api/LoginAndRegister").then(() => {
                    window.location.href = "/Home/Index";
                });
            },

        }
    });
</script>
<script>



</script>




